<center>
    <h1><b>Decision Tree</b></h1>
</center>

In [13]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import tree

%matplotlib inline

In [3]:
data = {'company': ['google', 'google', 'google', 'google', 'google', 'google',
                   'abc pharma', 'abc pharma', 'abc pharma', 'abc pharma',
                   'facebook', 'facebook', 'facebook', 'facebook', 'facebook', 'facebook',],
       'job': ['sales executive', 'sales executive', 'business manager', 'business manager', 'computer programmer', 'computer programmer', 'sales executive',
              'computer progrmmer', 'business manager', 'business manager', 'sales executive', 'sales executive',
              'business manager', 'business manager', 'computer programmer', 'computer programmer'],
       'degree': ['bachelors', 'masters', 'bachelors', 'masters', 'bachelors', 'masters', 'masters',
                 'bachelors', 'bachelors', 'masters', 'bachelors', 'masters', 'bachelors', 'masters', 'bachelors', 'masters'],
       'salary_>100k':[0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1]}

In [4]:
df = pd.DataFrame(data)

In [5]:
df.head()

  company                  job     degree  salary_>100k
0  google      sales executive  bachelors             0
1  google      sales executive    masters             0
2  google     business manager  bachelors             1
3  google     business manager    masters             1
4  google  computer programmer  bachelors             0

In [6]:
inputs = df.drop('salary_>100k', axis = 1)
target = df['salary_>100k']

In [9]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [11]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_job.fit_transform(inputs['degree'])
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      3         0
1  google      sales executive    masters          2      3         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [12]:
inputs_n = inputs.drop(columns = ['company', 'job', 'degree'], axis = 1)
inputs_n.head()

   company_n  job_n  degree_n
0          2      3         0
1          2      3         1
2          2      0         0
3          2      0         1
4          2      1         0

In [14]:
model = tree.DecisionTreeClassifier()
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [16]:
target.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_>100k, dtype: int64

In [15]:
model.predict([[2, 3, 1]])

C:\Users\Banji\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)