<center>
    <h1><b> Ensemble Learning - Bagging</b></h1>
</center>

This is method of creating multiple models using different data samples from the same dataset. The output of these models will be aggregated and their average will be used fro final prediction.

This method and others like cross fold validation, L1 and L2, PCA can be used to address over fitting.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier

%matplotlib inline

In [2]:
df = pd.read_csv(r'D:\AI Engineering\Python\My_Projects\Datasets\pima-indians-diabetes.csv', names =['pregnancy', 'glucose', 'blood_pressure', 'skin_thickness', 'insulin', 'BMI', 'diabetes_pedigree_function', 'age', 'outcome'])

In [3]:
 df[:5]

,pregnancy,glucose,blood_pressure,skin_thickness,insulin,BMI,diabetes_pedigree_function,age,outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df.shape

(768, 9)

In [5]:
df.isnull().sum()

pregnancy                     0
glucose                       0
blood_pressure                0
skin_thickness                0
insulin                       0
BMI                           0
diabetes_pedigree_function    0
age                           0
outcome                       0
dtype: int64

In [6]:
df.describe()

,pregnancy,glucose,blood_pressure,skin_thickness,insulin,BMI,diabetes_pedigree_function,age,outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
df.outcome.value_counts()

outcome
0    500
1    268
Name: count, dtype: int64

In [8]:
268/500

0.536

In [9]:
X = df.drop(columns = ['outcome'], axis = 1)
y = df['outcome']

In [10]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled[:3]

array([[ 0.63994726,  0.84832379,  0.14964075,  0.90726993, -0.69289057,
         0.20401277,  0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575,  0.53090156, -0.69289057,
        -0.68442195, -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, -1.28821221, -0.69289057,
        -1.10325546,  0.60439732, -0.10558415]])

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, stratify = y, random_state = 0)

In [12]:
X_train.shape

(576, 8)

In [13]:
X_test.shape

(192, 8)

In [14]:
y_train.value_counts()

outcome
0    375
1    201
Name: count, dtype: int64

In [15]:
201/375

0.536

In [16]:
# Building 5 models on different samples from the same dataset
scores = cross_val_score(DecisionTreeClassifier(), X, y, cv = 5)
scores

array([0.68831169, 0.71428571, 0.67532468, 0.78431373, 0.7124183 ])

In [17]:
scores.mean()

0.7149308208131737

### Using Bagging Classifier

In [18]:
bag_model = BaggingClassifier(
    estimator = DecisionTreeClassifier(),  # model used
    n_estimators = 100,  # number of models
    max_samples = 0.8,  # 80% of the data will be used for training
    oob_score = True,  # Out of bag data. i.e data not used for trainng models    
    random_state = 0
)

In [19]:
bag_model.fit(X_train, y_train)
bag_model.oob_score_

0.7534722222222222

In [20]:
bag_model.score(X_test, y_test)

0.7760416666666666

#### Bagging and Cross Validation

In [21]:
bag_model2 = BaggingClassifier(
    estimator = DecisionTreeClassifier(),
    n_estimators = 100,
    max_samples = 0.8,
    oob_score = True,
    random_state = 0
)

score2 = cross_val_score(bag_model, X, y, cv = 5)
score2.mean()

0.7578728461081402

 #### Trying Random Forest Model

In [22]:
scores3 = cross_val_score(RandomForestClassifier(), X, y, cv = 5)
scores3.mean()

0.7565911212970036